@import "tailwindcss";


@custom-variant dark (&:where(.dark, .dark *));

@theme {

  /* dark theme colors */

  --color-dark-primary: #2dd4bf;
  --color-dark-secondary: #60a5fa;
  --color-dark-accent: #fbbf24;
  --color-dark-bg: #020617;
  --color-dark-surface: #020617;
  --color-dark-text: #e5e7eb;
  --color-dark-muted: #94a3b8;
  --color-dark-border: #1e293b;
  /* --color-dark-shadow: "#" */

}
