@import "tailwindcss";


@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* only for the product items to be rendered differently */
  /* dark theme colors */
  --color-dark-surface: #020617;
}
